<div class="welcome">
  <h1 class="">Hi Tim, Welcome to Mealsy.</h1>
</div>

<div class="welcome">
  <h2 class="">Please Log in, Enter Your Meal Plans, and Save'em!</h2>
</div>

<div class="welcome">
  <%= link_to "Log In", "#", class: "btn btn--primary" %>
  <%= link_to "View Meals", meals_path, class: "btn btn--primary" %>
</div>

<div class="welcome">
  <a target="_blank" href="https://icons8.com/icon/97436/rice-bowl">Rice Bowl icon by </a>&nbsp; <a target="_blank" href="https://icons8.com"> Icons8</a>
</div>
