<%= simple_form_for meal, html: { class: "meal form" } do |f| %>
    <% if meal.errors.any? %>
      <div class="error-message">
        <%= meal.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.submit class: "btn btn--secondary" %>
  <% end %>
