<main class="container">
  <div class="header">
    <h1>Meals</h1>
    <%= link_to "New Meal",
                new_meal_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @meals %>
</main>
